h2, p, ul
{
	font-size: 16px;
	
	color: #5e0000;
	font-family: 'Nobile';
	src: url('Nobile.ttf');
}

h1
{
	font-size: 24px;
	
	color: #5e0000;
	font-family: 'Nobile';
	src: url('Nobile.ttf');
	text-align: center;
}
h2
{
	text-align: justify;
}

body
{
	background-image: url("./assets/image/img-fd-cv.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}


h1
{
	border-left: 6px #4e0505 double;
	border-bottom: 4px #4e0505 double;
}

a
{ 
	border:2px #4e0505 double;
	text-shadow: 2px 4px 4px black;
}

