h2 p ul 
{
	color: white;
}
ul
{
	text-align: justify;
}

body
{
	background-image: url(fdcvcss.png);
}

h1
{
	text-align: center;
	border-bottom: 4px;
	border-left: 6px;
}

img
{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: 4px 4px 0px grey;
}

