@media all and (max-width: 1280px)
{
	section
	{
		flex-direction: column;
	}

	#en-tete
	{
		margin-left:0;
	}

	#en-tete h1
	{
		display: flex;
		justify-content: center;
		padding-left: 7%;
		padding-top: 7%;
	}

	article
	{
		width: auto;
		margin-left: 0;
	}

	#texte-principal
	{
		text-align: justify;
	}
	.texte p 
	{
		max-width: 68%;
		margin-left: 0;
		padding-bottom: 5%;
	}

	.qui-sommes-nous- h2
	{
		margin-left: 15%;
	}

	#rectangle-1 p
	{
		margin-left: 22%;
	}

}
body
{
	background-color: #f1f1f1;
}

.rectangle
{
	width: auto;
	height: 130px;
	background-color: #4a4a4a;
}


.rectangle img
{
	width: 100%;
	height: 350px;
	margin-top: 10%;
}

h1 
{
	width: 100%;
	height: 241px;
	font-family: Montserrat;
	font-size: 36px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin-top: 12%;
}




.oval
{
	position: absolute;
	z-index: 1;
	width: 250px;
	height: 250px;
	background-color: #4a4a4a;
	border-radius: 150px / 150px;
	margin-left: 40%;
	margin-top: 0;
}

.oval img
{
	position: absolute;
	z-index: 2;
	width: 70%;
	height: 120px;
	margin-top: 30%;
	margin-left: 15%;
}

 h2 
{ 	
	width: 400px;
	height: 64px;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #d4a23d;
	margin-left: 50%;
}

#texte-principal
{
	width: 924px;
	height: 210px;
	margin-bottom: 30%;
	margin-right: 70%;
}
.texte p 
{	
	width: 700px;
	height: 100px;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	padding-bottom: 5%;
	
}

#rectangle-1
{
	width: 100%;
	height: 433px;
	background-color: #ffffff;
	border: 1px solid black; /*temporaire*/
}

p
{
	width: 357px;
	height: 64px;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	margin-left: 35%;
}

#rectangle2
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#rectangle2
{
	width: 100%;
}
.rectangle-2
{	
	width: 268px;
	height: 185px;
	border: solid 1px #979797;
	background-color: #d8d8d8;
}

.triangle p
{
	width: 139px;
	height: 24px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
}

.triangle
{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-left: 50%;
	margin-top: 4%;
}
.triangle 
{
	width: 25px;
	height: 22px;
	background-color: #d4a23d;
}

#titre h2
{
	width: 357px;
	height: 64px;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #d4a23d;
	margin-left: 38%;
}

.nom p
{
	width: 237px;
	height: 22px;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: justify;
	color: #000000; 
}

.mail p
{
	width: 237px;
	height: 22px;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: justify;
	color: #000000; 
}

.mess p
{
	width: 237px;
	height: 22px;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: justify;
	color: #000000; 
}

.rectangle-3 
{
	width: 364px;
	height: 43px;
	border-radius: 8px;
	border: solid 1px #4a4a4a;
	background-color: #ffffff;
}

.Rectangle-4
{
	width: 924px;
	height: 157px;
	border-radius: 8px;
	border: solid 1px #4a4a4a;
	background-color: #ffffff;
}

.rectangle-5
{
	width: 1024px;
	height: 59px;
	background-color: #4a4a4a;
}

.achiev-2020-Tous
{
	width: 924px;
	height: 57px;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

