@media all and (max-width: 1280px)
{

	#footer
	{
		width: auto;
	}

	.frame-small
	{
		width: auto;
	}

	.frame-medium
	{
		width: auto;
	}

	#header
	{
		width: auto;
	}

	#header h1
	{
		margin-top: 20%;
	}

	#part2
	{
		width: auto;
	}

	.text p
	{
		margin-left: 0;
	}

	section #part1
	{
		width: auto;
		padding-left: 0;
	}

	.who h2
	{
		margin-left: 0;
	}

	#part1
	{
		margin-left: 0;
	}

}

section
{
	width: 100%;
}



body
{
	font-family: montserrat;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	background-color: #f1f1f1;
	width: 100%;
}

body p
{
	font-size: 16px;
	font-weight: 300;
}

body h2
{
	font-size: 30px;
	text-align: center;
}

body h1
{
	font-size: 33px;
	font-weight: 600;
	text-align: center;
}

#header
{
	width: 100%;
	height: 500px;
}

.box
{
	width: auto;
	height: 130px;
	background-color: #4a4a4a;
}


.box img
{
	width: 100%;
	height: 350px;
	margin-top: 10%;
}

h1 
{
	width: 100%;
	height: 241px;
	color: #ffffff;
	margin-top: 12%;
}




.round
{
	position: absolute;
	z-index: 1;
	width: 250px;
	height: 250px;
	background-color: #4a4a4a;
	border-radius: 130px / 130px;
	margin-left: 40%;
	margin-top: 0;
}

.round img
{
	position: absolute;
	z-index: 2;
	width: 60%;
	margin-top: 15%;
	margin-left: 20%;
}

 .who h2 
{ 	
	color: #d4a23d;
}

#part1
{
	width: 924px;
	padding-left: 15%;
}

.text p 
{	
	height: 120px;
	text-align: center;
}

#part2
{
	width: 100%;
	height: 433px;
	background-color: #ffffff;
	border: 1px solid black; /*temporaire*/
}

#part2 p
{
	width: 357px;
	height: 64px;
	color: #000000;
	margin-left: 35%;
}

#frames
{
	display: flex;
	justify-content: space-around;
}

.frame
{	
	width: 268px;
	height: 185px;
	border: solid 1px #979797;
	background-color: #d8d8d8;
}

.way-to p
{
	text-align: center;
	margin-bottom: 40px;
}

.way-to
{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-left: 49%;
	margin-top: 4%;
}
.way-to 
{
	width: 0;
	height: 0;
	border-left: 18px solid white;
	border-right: 18px solid white;
	border-top: 30px solid #d4a23d;
	background-color: #d4a23d;
}

#title h2
{
	width: 357px;
	color: #d4a23d;
	margin-left: 38%;
}

.mail p
{
	width: 237px;
}

.frame-small 
{
	width: 364px;
	height: 43px;
	border-radius: 8px;
	border: solid 1px #4a4a4a;
	background-color: #ffffff;
}

.frame-medium
{
	width: 100%;
	height: 157px;
	border-radius: 8px;
	border: solid 1px #4a4a4a;
	background-color: #ffffff;
}

.final-frame
{
	height: 70px;
	background-color: #4a4a4a;
}

.final-frame p
{
	color: #ffffff;
	padding-top: 20px;
}
